@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-pricipal: #495057;
  --cor-fonte-pricipal: #ffffff;
  --fonte-montserrat: "Montserrat", sans-serif;
}

body {
  color: var(--cor-fonte-pricipal);
  background: var(--cor-pricipal);
  font-family: var(--fonte-montserrat);
}
